*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
.header{
        display: flex;
        justify-content:space-between;
        padding: 20px;
        background-color: rgba(255, 255, 255, .8);
        /* position: -webkit-sticky;
        position: fixed;
        z-index: 100; */
        width: 100%;
}
/*************HEADER LOGO *****************/
.header .logo{
        font-family: 'poppins', sans-serif;
       
}

.logo-head{
        color: #ff9100;
}

h1 .h-one{
        font-size: 1.2em;
}

.logo-p{
        font-weight: 100;
        color: #8a8a8a;
        line-height: 1px;
}
/*************HEADER LOGO *****************/
/*************HEADER NAV *****************/
.nav-link-wrapper ul {
        display: flex;
        list-style: none;
        font-size: 20px;
        font-family: sans-serif;
}
.nav-link-wrapper ul li {
        padding: 0px 30px;
 }
li a{
        text-decoration: none;
        color: #000;  
 }
.nav-link-wrapper ul li a:hover {
        color: #ff9100;
        transition: all .5s;
}
 /* COMPANY CONTACT */
.tel a {
        font-size: 20px;
        color: #ff9100;
        text-decoration: none;
        font-family: 'poppins', sans-serif;
}
.tel{
        padding: 10px 20px;
}
/* HERO */
.hero{
        width: 100%;
        height: 100vh;
        background-image: url(hero-bg.jpg);
        background-repeat: no-repeat;
        background-size: cover;
}
.hero-text{
        width: 60%;
        height: 80vh;
        background-color: rgba(0, 0, 0, .2);
        position: absolute;
        top: 100px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #ff9100;
       
}
.hero-text .div-one{
        position: relative;
        top: 20%;
        left: 3%;
}
.ht-two{
        font-size: 1.5em;
        color:  #6cbf3b;
        font-family: sans-serif, monospace;
}
.herotext-one{
        font-size: 3em;
        color: #fff;
}
.hero-p{
        margin: 20px 15px;
        font-size: 20px;
        color: #b6bad0f6;
        font-family: 'Times New Roman', Times, serif;
}
.btn{
        text-align: center;
        margin-top: 50px;   
}
.hero-link{
        text-decoration: none;
        padding: 10px 20px;
        background-color: #6cbf3b;
        border-radius: 10px;
        color: rgb(0, 0, 0);
        font-family: Arial, Helvetica, sans-serif;
}
.hero-link:hover{
        background-color: #61994fe4;
        transition: .3s;
}